<nav class="header-container">
  <div class="title-container">
    <span>Dashboard</span>
  </div>
  <div class="nav-search">
    <input placeholder="Pesquisar" type="text" class="nav-input" />
    <i class="material-icons">search</i>
  </div>
  <div class="icons-container">
    <i class="material-icons">calendar_today</i>
    <i class="material-icons">forum</i>
    <i class="material-icons">send</i>
    <i class="material-icons">thumb_up</i>
    <i class="material-icons">wysiwyg</i>
    <i class="material-icons">analytics</i>
    <i class="material-icons">settings</i>
    <div class="info-container">
      <span>Nome do Fulano</span>
      <div class="dropdown">
        <p>Unidade Barreira</p>
        <i class="material-icons">expand_more</i>
      </div>
    </div>
    <div class="image-container">
      <img src="../../assets/icon-256x256.png" alt="" />
    </div>
  </div>
</nav>
