<div class="search-container">
  <span class="title"> Pesquise um profissional </span>
  <div class="inputs-container">
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
    <select name="" id="" class="filters">
      <option value="">Cidade</option>
    </select>
  </div>
  <button class="send-button">Buscar</button>
</div>
