<div class="calendar-container">
  <full-calendar [options]="calendarOptions"></full-calendar>
  <div class="footer">
    <span class="status">
        <i style="color: red" class="material-icons">circle</i>
      FALTA
    </span>
    <span class="status">
        <i style="color:green" class="material-icons">circle</i>
      COMPARECEU
    </span>
    <span class="status">
        <i style="color: yellow" class="material-icons">circle</i>
      EM ATENDIMENTO
    </span>
    <span class="status">
        <i class="material-icons">done_all</i>
      CONFIRMADO
    </span>
    <span class="status">
        <i class="material-icons">check</i>
      ENVIADO SOLICITADO
    </span>
    <span class="status">
        <i class="material-icons">summarize</i>
      ENVIADO SOLICITADO
    </span>
    <span class="status">
        <i class="material-icons">credit_score</i>
      PAGAMENTO
    </span>
   
  </div>
</div>
